body, header, h1, h2, h5, ul{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(187, 219, 243);
}

body > header {
    background-color: aliceblue;
}

body > header, body > footer{
    background-color: rgb(187, 219, 243);
    color: rgb(180, 180, 166);
    padding: 1% 0px 0px;
}

body > header > img{
    max-width: 490px;
    max-height: 60px;
    margin: 3% 3% 0px;
}

body > header > img:hover{
    cursor: pointer;
}


body > header > img, body > header > div.menu-icona{
    display: inline-block;
    vertical-align: top;
}

body > header > div.menu-icona{
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(194, 179, 179);
    border-radius: 6px;
    margin-right: 60px;
    margin-top: 6px;
    float: right;
}

body > header > div.menu-icona:hover{
    background-color: rgb(161, 161, 161);
    cursor: pointer;
}

body > header > div.menu-icona > img{
    height: 100%;
}

body > header > div.login{
    display: none;
}

div.login .login-logged{
    display: none;
}

body > header > div a{
    text-decoration: none;
    color: rgb(23, 78, 150);
}

body > header > div > a:hover{
    color: rgb(219, 69,83);
}

body > div.events{
    display: none;
    background-color: #F8F4D7;
}

body > div.menu{
    display: none;
    padding: 3% 3% 0px;
    background-color: rgb(187, 219, 243);
}

td > a.sold-out:hover {
    background-color: red;
}

.cookies-policy {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    z-index: 3;
  }
  
  /* Links inside the navbar */
  .cookies-policy a, .cookies-policy p {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

nav.menu-navigatore{
    background-color: #fff;
    border: 1px solid rgb(17, 147, 223);
    box-sizing: border-box;
}

nav ul, div.bestEvents > ul, div.bestEventsWeek > ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    width: 92%;
    text-align: center;
}

nav.menu-navigatore ul li{
    width: 100%;
    height: 40px;
}

div.menu nav ul li{
    padding: 10px 10px;
    box-sizing: border-box;
}

div.menu nav ul li:not(:first-child), .dropdown{
    border-top: 1px solid gray;
}

.dr-categorie {
    border-right: 1px solid gray;
    box-sizing: border-box;
}

/*  PULSANTE CARRELLO - TELEFONO */


nav.navigatore > ul > li:first-child{
    width: 37px;
    height: 40px;
    z-index: 3;
}

li.pul-carrello{
    position: fixed;
    top: 8px;
    right: 8px;
    padding: 1% 1% 0px 0.5%;
    background-color:rgb(66, 109, 167);
    border-radius: 8px;
}

li.pul-carrello:hover{
    background-color: #0E5D11;
}

nav ul li a.carrello img{
    height: 36px;
}

.carrello .badge {
    position: absolute;
    top: 6px;
    right: 11px;
    padding: 2px 5px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px;
    display: none;
  }

/*  FINE */


nav ul li a, li.ricerca span, .dropbtn, .login-logged{
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

nav ul li a, li.ricerca span, .dropbtn{
    color: rgb(29, 26, 26);
}

nav.menu-navigatore ul li:hover, .dropdown:hover .dropbtn{
    background-color: rgb(104, 104, 172);
    cursor: pointer;
}

nav.menu-navigatore ul li:hover a, nav.menu-navigatore ul li:hover span, .dropdown:hover .dropbtn{
    color: #fff;
}

/* DROP DOWN MENU */

.dropbtn {
    width: 100%;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border: none;
}

nav.navigatore > ul > div.dropdown{
    display: none;
}
    
.dropdown {
    position: relative;
    width: 50%;
    height: 40px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 70%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:not(:first-child){
    border-top: 1px solid #cfcfcf;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* FINE DDM*/

nav.navigatore > ul > li:nth-child(4){
    padding: 2% 4% 0px;
}

nav.navigatore ul li input, nav ul li a.cerca{
    display: inline-block;
}

nav.navigatore ul li input{
    width: 85%;
    height: 20px;
    font-size: 14px;
    margin-right: 1%;
}


nav ul li a.cerca{
    width: 23px;
    height: 23px;
    padding: 4.5px;
    background-color:rgb(23, 78, 150);
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: 3px;
}

nav ul li a.cerca:hover{
    background-color: #0E5D11;
}

nav.navigatore ul li a.cerca p, nav.navigatore ul li a.carrello p{
    display: none;
    margin: 0px;
    padding: 0px;
}

nav.navigatore ul li a.carrello p{
    position: relative;
    top: -3px;
}

nav.navigatore ul li a.cerca img{
    height: 20px;
}

main{
    margin-top: 2%;
    padding-top: 10px;
    min-height: 100px;
    border-top: 1px solid  rgb(17, 147, 223);
    box-sizing: border-box;
    background-color: #fff;
}

main > article {
    margin: 1.6% 1.6% 0px;
    font: 15px;
}

main > article > section{
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}

article > h2{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font: bold 22px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article > footer{
    padding: 15px 2% 15px;
    text-align: center;
}

article > footer > span, form ul li input[type="submit"]{
    padding: 5px 10px;
    background-color: rgb(221, 221, 221);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article > footer > span:hover{
    color:rgb(219, 69,83);
    cursor: pointer;
}

form{
    padding: 20px 5%;
}

form h2, main > section > h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 20px;
}

form ul{
    list-style: none;
    width: 80%;
    margin: 0 10%;
}

form ul li{
    margin-bottom: 20px;
}

form ul li:last-child{
    text-align: right;
}

form ul li label{
    display: inline-block;
    width: 50%;
}

form ul li input:not([type="submit"]){
    width: 50%;
    box-sizing: border-box;
}

form ul li input[type="submit"]:hover{
    cursor: pointer;
    color:rgb(219, 69,83);
}

main > section{
    padding: 20px 5%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table tr{
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    font-size: 3vw;
}

table tr:hover{
    background-color: rgb(207, 207, 207);
}

table.lista-eventi tr{
    display: none;
}

table th{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table td.td-btn-ticket {
    width: 20%;
    text-align: right;
    padding-right: 5px;
}

table td.image{
    height: 110px;
    width: 20%;
    padding-top: 5px;
    padding-left: 5px;
}

table td.image img{
    width: 100%;
}

table td.name{
    width: 30%;
    padding: 0px 5px 5px 10px;
    font-size: 17px;
}

table td.td-date{
    width: 30%;
}

td > a{
    background-color:rgb(23, 78, 150);
    border-radius: 5px;
    padding: 7px 6px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

td >a.period-expired:hover{
    background-color: red;
    cursor: pointer;
}

td.ora-evento, th.ora-evento{
    display: none;
}

table.lista-eventi td.biglietti{
    display: none;
}

aside.ricerca-avanzata{
    background-color: rgb(187, 219, 243);
    display: none;
}

aside > section{
    padding: 0px 3%;
}

aside > section > h2{
    display: none;
    font: bold 20px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside > section > ul{
    list-style: none;
    background-color: #fff;
    border: 1px solid  rgb(17, 147, 223);
    border-top: 0px;
    box-sizing: border-box;
    padding: 3%;
}

aside > section > ul > li.rsc{
    background-color:rgb(23, 78, 150);
    border-radius: 5px;
    padding: 3%;
}

aside > section > ul > li:nth-child(2), aside > section > ul > li:nth-child(4), aside > section > ul > li:nth-child(6){
    display: none;
    border: 2px solid rgb(23, 78, 150);
    padding: 2%;
    margin-top: 2%;
}

section > ul > li:nth-child(3), section > ul > li:nth-child(5), section > ul > li:nth-child(7){
    margin-top: 5%;
}

aside > section > ul > li:last-child{
    width: 75px;
    margin-top: 2%;
}

aside > section > ul > li > img{
    max-height: 20px;
    float: left;
    margin-right: 5%;
}

aside > section > ul > li.ricerca-input > input, aside > section > ul > li.citta-input > input, aside > section > ul > li.data-input > input{
    width: 98%;
    font-size: 16px;
}

aside > section > ul > li.citta-input > input, aside > section > ul > li.data-input > input{
    height: 22px;
}

aside > section > ul > li.ricerca-input > input{
    height: 25px;
}

aside > section > ul > li > a, aside > section > ul > li > span{
    font: bold 16px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}


td > a:hover{
    background-color: #0E5D11;
}

/*  PER LA RICERCA AVANZATA, MA NON FUNZIONA LA PARTE DEL BACKGROUND */

aside > section > ul > li.rsc:hover{
    background-color: #0E5D11;
    cursor: pointer;
}

/* FINE */

body > footer{
    background-color: #78D1F6;
    color: #000;
    padding: 2% 0px 2%;
    box-sizing: border-box;
}


body > footer > p{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

div.nothing {
    padding: 2%;
}

body > footer{
    border-top: 1px solid  #0521A6;
    border-bottom: 1px solid  #0521A6;
    box-sizing: border-box;
}

.inf-cook-last {
    margin: 0px;
}

article.informativa ul li {
    list-style: none;
}

@media screen and (min-width:768px){

    .cookies-policy{
        width: 86%;
    }

    body{
        margin: 0 7%;
        background-color: rgb(0, 64, 112);
    }

    body > header, body > footer{
        border-left: 1px solid  #0521A6;
        border-right: 1px solid  #0521A6;
    }

    body > footer{
        padding: 1% 0px 1%;
    }
    
    
    body > footer > p{
        font-size: 16px;
    }

    body > header > img{
        margin: 0% 2%;
        max-height: 80px;
    }

    body > header > div.menu-icona{
        display: none;
    }

    body > header > img, body > header > div.login{
        display: inline-block;
    }

    body > header > div.login{
        float: right;
        padding: 2% 4% 0 0;
    }

    /* SE SI E' LOGGATI */

    body > header > div.logged{
        padding: 8px;
        background-color:rgb(23, 78, 150);
        border-radius: 5px;
        text-align: center;
        margin-right: 2%;
        margin-top: 14px;
        color: #fff;
    }

    div.logged:hover{
        background-color: #0E5D11;
        cursor: pointer;
    }

    /* */

    body > div.menu{
        display: none;
    }

    body > nav.navigatore{
        display: inherit;
        position: sticky;
        top: 0px;
        z-index: 2;
    }

    nav{
        padding-bottom: 10px;
        background-color: rgb(187, 219, 243);
        border: 1px solid  #0521A6;
        box-sizing: border-box;
        border-top: 0px;
    }

    nav ul li:not(:first-child){
        margin-top: 10px;
    }

    nav ul li:first-child{
        margin-top: 6px;
    }

    nav.navigatore ul li:not(:nth-child(4)), .dropbtn{
        background-color:rgb(23, 78, 150);
        border-radius: 5px;
    }

    /* DROP DOWN MENU */

    nav.navigatore > ul > div.dropdown {
        display: inline-block;
    }

    .dropdown {
        width: 100px;
        margin-top: 10px;
        margin-right: 2%;
        border: none;
    }

    .dropbtn{
        padding: 16px;
    }

    .dropdown-content {
        min-width: 160px;
    }

    .dropdown:hover .dropbtn {background-color: #0E5D11;}

    /* FINE DDM*/

    li.pul-carrello{
        position: initial;
        bottom: 0px;
        right: 0px; 
    }
    
    nav ul li a{
        display: inline-block;
        padding: 5px 0px;
        color: #fff;
        font-size: 18px;
    }

    .dropbtn {
        display: inline-block;
        padding: 6px 0px;
        color: #fff;
        font-size: 17px;
    }

    /* */

    nav.navigatore ul {
        position: relative;
    }

    nav ul{
        margin: 0 2%;
    }

    body > nav.navigatore > ul > li:not(:first-child):not(:nth-child(4)){
        display: inline-block;
    }

    nav ul li:nth-child(2), nav ul li:nth-child(3){
        width: 16%;
    }

    nav ul li:nth-child(4){
        width: 55%;
    }

    nav.navigatore > ul > li:nth-child(4){
        padding: 0%;
        position: relative;
    }

    nav.navigatore ul li:first-child{
        width: 35px;
        height: 35px;
        float: right;
        padding: 2px 0 0;
        position: absolute;
        top: 4px;
    }

    /* SCURIMENTO PULSANTI */

    nav.navigatore > ul > li:not(:last-child):hover{
        background-color: #0E5D11;
    }

    /* FINE */

    nav ul li input, nav ul li a.cerca{
        display: inline-block;
    }

    nav ul li input{
        width: 81%;
        height: 20px;
        font-size: 14px;
        margin-right: 1%;
    }

    nav ul li a.cerca{
        width: 35px;
        height: auto;
        padding: 4px 0;
        position: relative;
        top: 2px;
    }

    nav ul li a.cerca img{
        position: relative;
        top: 2px;
    }

    nav ul li a.carrello img{
        height: 23px;
    }

    .carrello .badge {
        position: relative;
        top: -14px;
        right: -17px;
        font-size: 11px;
    }

    nav ul li{
        margin-right: 1%;
    }

    /* */

    body > div.events{
        display: inherit;
    }
    
    body > div.events > div > h2{
        margin: 2%;
        text-align: center;
        font-size: 2.3vw;
        max-height: 28px;
    }
    
    body > div.events > div{
        display: inline-block;
        width: 50%;
        border: 1px solid  #0521A6;
        box-sizing: border-box;
    }
    
    div.events > div > ul{
        margin: 0 2% 2%;
        width: 96%;
        height: 100%;
        text-align: center;
    }
    
    div.events > div > ul > li{
        width: 45%; /* 45 160px*/
        height: 250px;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        border: 2px solid  #0521A6;
        background-color: #fff;
    }

    div.events > div > ul > li {
        -moz-transition: height 0.7s ease-in-out;
        -webkit-transition: height 0.7s ease-in-out;
        -moz-transition: height 0.7s ease-in-out;
        -o-transition: height 0.7s ease-in-out;
        transition: height 0.7s ease-in-out;
    }

    body > header > img {
        -moz-transition: width 0.7s ease-in-out;
        -webkit-transition: width 0.7s ease-in-out;
        -moz-transition: width 0.7s ease-in-out;
        -o-transition: width 0.7s ease-in-out;
        transition: width 0.7s ease-in-out;
    }
    
    div.events > div > ul > li:nth-child(1){
        margin-right: 3%;
    }
    
    div.events > div > ul > li > img{
        min-height: 82%;
        max-height: 82%;
        min-width: 100%;
        max-width: 100%;
        border-bottom: 2px solid  #0521A6;
    }

    div.events > div > ul > li:hover{
        filter: brightness(80%);
        cursor: pointer;
        border-color: rgb(3, 20, 102);
    }

    div.events > div > ul > li:hover img{
        border-bottom-color: rgb(3, 20, 102);
    }

    div.events > div > ul > li:nth-child(3), div.events > div > ul > li:nth-child(4){
        display: none;
    }

    td > a{
        padding: 6%;
        margin-left: 2px;
    }

    table td.image{
        width: 15%;
    }

    table td.td-btn-ticket {
        text-align: center;
    }
    
    /* */

    aside.ricerca-avanzata{
        background-color:#fff;
        border: 1px solid  #0521A6;
        box-sizing: border-box;
    }

    /* */

    main{
        margin-top: 0%;
        border: 1px solid  #0521A6;
    }

    main > article {
        margin: 1.6%;
    }

    article > h2{
        font-size: 24px;
    }

    /* */

    table.lista-eventi td.biglietti{
        width: 20%;
        display: table-cell;
    }
    
    td.biglietti > img{
        width: 15px;
        height: 15px;
        margin-right: 2%;
    }

    table td.name{
        font-size: 22px;
    }

    table tr{
        font-size: initial;
    }

    table.lista-eventi tr td:nth-child(2){
        width: 25%;
    }

    table td.td-date{
        width: 20%;
    }

}

@media screen and (min-width:900px){

    div.events > div > ul > li{
        height: 280px;
    }

    div.events > div > ul > li > img{
        min-height: 84%;
        max-height: 84%;
    }

    nav ul li:nth-child(4){
        width: 60%;
    }

    li.barra-ricerca, div.dropdown {
        -moz-transition: width 0.7s ease-in-out;
        -webkit-transition: width 0.7s ease-in-out;
        -moz-transition: width 0.7s ease-in-out;
        -o-transition: width 0.7s ease-in-out;
        transition: width 0.7s ease-in-out;
    }
}

@media screen and (min-width:1000px){

    div.events > div > ul > li:nth-child(3){
        display: inline-block;
    }

    div.events > div > ul > li:nth-child(1), div.events > div > ul > li:nth-child(2){
        margin-right: 2%;
    }

    div.events > div > ul > li{
        width: 31%; /*31 130px*/
        height: 230px;
    }

    div.events > div > ul > li > img{
        min-height: 81%;
        max-height: 81%;
    }

    table tr{
        font-size: 18px;
    }

    td.ora-evento, th.ora-evento{
        display: table-cell;
    }

    article > h2{
        font-size: 26px;
    }
    
}

@media screen and (min-width:1100px){

    div.events > div > ul > li{
        width: 31%; /*31 130px*/
        height: 250px;
    }

    div.events > div > ul > li > img{
        min-height: 82%;
        max-height: 82%;
    }

    /* */
    
    body > header > div{
        text-align: center;
    }

    div.events > div > ul > li{
        display: inline-block;
    }



    nav ul li:nth-child(1), nav ul li:nth-child(2){
        width: 12%;
    }

    nav ul li:nth-child(4){
        margin-right: 0%;
    }
    
    nav.navigatore ul li:first-child{
        width: 12%;
        margin-right: 0%;
        margin-top: 9px;
    }

    nav ul li a:not(:first-child){
        padding: 5px 0;
    }

    nav ul li a:first-child{
        padding: 3px 0;
        position: relative;
    }

    nav ul li a.cerca{
        width: 100px;
        padding: 5px 0;
        position: relative;
        top: 3px;
    }

    nav ul li a.cerca img{
        margin-right: 5%;
    }

    nav ul li a.carrello img{
        margin-right: 8%;
        height: 23px;
    }

    nav.navigatore ul li a.cerca p, nav.navigatore ul li a.carrello p{
        display: inherit;
    }

    .carrello .badge {
        position: absolute;
        top: 18px;
        right: -10px;
        font-size: 16px;
        padding: 1px 5px;
    }

    nav.navigatore ul li input{
        width: 77%;
    }

    /* */

    aside > section > h2{
        display: inherit;
        padding: 0px 3%;
    }

    aside > section > ul{
        border: 0px;
        box-sizing: content-box;
        padding: 0px 3% 3%;
    }

    aside > section > ul > li:nth-child(1){
        margin-top: 5%;
    }

    aside > section > ul > li:last-child{
        width: 36%;
        margin: 2% 0px 5%;
        float: right;
    }

    aside > section > ul > li.ricerca-input > input, aside > section > ul > li.citta-input > input, aside > section > ul > li.data-input > input{
        height: auto;
        font-size: initial;
    }

    aside > section > ul > li > a, aside > section > ul > li > span{
        font-size: 1.2vw;
    }

    /* */

    body > div.menu{
        border-left: 1px solid  rgb(17, 147, 223);
        border-right: 1px solid  rgb(17, 147, 223);
        box-sizing: border-box;
    }

    div.main-aside-container{
        width: 100%;
        display: table;
    }

    main, aside.ricerca-avanzata{
        display: table-cell;
    }

    main{
        width: 75%;
    }

    aside.ricerca-avanzata{
        width: 25%;
    }

    aside > section{
        padding: 5% 5% 0px;
        vertical-align: top;
        top: 57px;
        position: sticky;
        height: 250px;
        z-index: 1;
    }

    form ul{
        width: 50%;
        margin: 0 25%;
    }
}

@media screen and (min-width:1250px){

    nav ul li:nth-child(4){
        width: 55%;
    }

    div.events > div > ul{
        margin: 0 1% 2%;
        width: 98%;
    }

    div.events > div > ul > li:nth-child(4){
        display: inline-block;
    }

    div.events > div > ul > li:not(:last-child){
        margin-right: 1%;
    }

    div.events > div > ul > li{
        width: 23.4%; /*23.4 130px*/
        height: 230px;
    }

    div.events > div > ul > li > img{
        min-height: 81%;
        max-height: 81%;
    }

    .dropdown {
        width: 135px;
      }

    .dropbtn {
        font-size: 18px;
    }
}