div.immagine-evento, div.informazioni-evento{
    display: inline-block;
    vertical-align: top;
    margin: 2%;
}

div.informazioni-evento{
    width: 60%;
}

div.immagine-evento{
    text-align: center;
    width: 25%;
}

div.immagine-evento img{
    max-width: 100%;
    max-height: 100%;
}

div.informazioni-evento{
    font-size: 14px;
}

div.informazioni-evento p{
    padding: 2% 0px;
    margin: 0px;
}

div.biglietti-evento{
    margin: 1% 3% 0px;
    padding-bottom: 50px;
}

/* BIGLIETTI -EVENTO */

table.event-table {
    margin-top: 10px;
}

table.event-table tr:first-child{
    background-color: rgb(182, 228, 255);
    border-top: 1px solid rgb(0, 162, 255);
    border-bottom: 1px solid rgb(0, 162, 255);
}

table.event-table tr{
    border: 0px;
}

table.event-table tr:nth-child(odd):not(:first-child){
    background-color: rgb(241, 246, 250);
}

table tr:hover{
    background-color: rgb(211, 235, 255);
}

table.event-table tr:nth-child(odd):not(:first-child):hover{
    background-color: rgb(211, 235, 255);
}

tr.event-tr td:last-child{
    text-align: center;
}

div.biglietti-evento table tr:first-child{
    height: 50px;
}

div.biglietti-evento table tr:not(:first-child){
    height: 100px;
}

div.biglietti-evento table tr th{
    text-align: left;
}

div.biglietti-evento table tr th:last-child{
    text-align: center;
}

div.biglietti-evento table tr th:first-child{
    padding-left: 2%;
}

div.biglietti-evento table tr td:first-child{
    padding: 0px 2%;
    width: 30%;
}

.event-tr td:not(:first-child){
    padding-right: 1%;
}

td.biglietti {
    width: 22%;
}


div.biglietti-evento table tr td.biglietti img{
    width: 10px;
    height: 10px;
    display: none;
}

div.event-title {
    padding: 3px;
    font: bold 16px Verdana, Geneva, Tahoma, sans-serif;
}

div.event-description {
    padding: 3px 0px;
}


@media screen and (min-width:768px){

    div.informazioni-evento {
        width: 66%;
        font-size: 18px;
    }
    
    div.biglietti-evento table tr td:first-child{
        padding-left: 1%;
    }

    div.biglietti-evento table tr td.biglietti{
        width: 22%;
    }

    div.biglietti-evento table tr td.biglietti img{
        width: 18px;
        height: 18px;
        display: inline-block;
    }

    div.event-title {
        margin-top: 10px;
        font: bold 22px Verdana, Geneva, Tahoma, sans-serif;
    }

}

@media screen and (min-width:1100px){

    div.biglietti-evento table tr td.biglietti img{
        width: 20px;
        height: 20px;
    }

    div.informazioni-evento {
        font-size: 20px;
    }

}
