div.immagine-evento, div.informazioni-biglietto{
    display: inline-block;
    vertical-align: top;
}

div.immagine-evento{
    margin: 2% 3% 2%;
    text-align: center;
    width: 20%;
    max-width: 140px;
    min-width: 100px;
}

div.immagine-evento img{
    max-width: 100%;
    max-height: 100%;
}

div.informazioni-biglietto{
    font-size: 2.3vw;
    margin: 2% 1%;
    width: 60%;
}

div.informazioni-biglietto p{
    padding: 2% 0px;
    margin: 0px;
}

div.biglietti-biglietto{
    margin: 2% 2% 0px;
    padding-bottom: 2%;
}

div.scelta-biglietti{
    border: 5px solid rgb(23, 78, 150);
}

div.scelta-migliorposto, div.scelta-mappa{
    width: 50%;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
}

div.scelta-migliorposto input, div.scelta-mappa input{
    width: 100%;
    height: 100%;
}

div.scelta-selezionata{
    padding: 3% 10px;
    border-top: 5px solid rgb(23, 78, 150);
}

div.mappa{
    display: none;
}

div.biglietti-selezionati {
    margin: 0px 2% 0 2%;
    padding: 1%;
    border: 2px solid rgb(23, 78, 150);
    box-sizing: border-box;
}

div.biglietti-selezionati > p{
    margin: 2% 0px 0px;
    padding: 0;
    font-size: 2.5vW;
}

form.aggiunta-carrello{
    padding: 0px;
    margin: 4% 2% 1% 0px;
    text-align: right;
    display: none;
}

form.aggiunta-carrello > a{
    margin-top: 2%;
    padding: 1%;
    width: 150px;
    background-color: rgb(23, 78, 150);
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

form.aggiunta-carrello > a:hover{
    background-color: #0E5D11;
    cursor: pointer;
}

div.migliorposto p{
    display: inline-block;
    margin: 0;
    padding: 0;
}

div.migliorposto td select{
    width: 50px;
}

div.biglietti-selezionati > div{
    display: none;
}

div.biglietti-selezionati > div > p{
    display: inline-block;
}

.informazioni-biglietto div.informazioni-nome {
    padding: 5px 3% 10px 0px;
    font: bold 18px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.informazioni-biglietto div {
    padding: 2px 0px;
    font-size: 16px;
}

.biglietti-evento h2 {
    padding: 0px 10px 20px;
    font-size: 30px;
}

.scelta-migliorposto input{
    border: none;
    border-right: 2px solid rgb(23, 78, 150);
}

.scelta-mappa input {
    border: none;
    border-left: 2px solid rgb(23, 78, 150);
}

.btn-scelta-mig:focus, .btn-scelta-map:focus {
    outline: none;
    background-color: rgb(177, 255, 229);
}


@media screen and (min-width:768px){

    div.plane, div.biglietti-selezionati {
        width: auto;
        display: inline-block;
        vertical-align: top;
    }

    div.mapTwo {
        width: 60%;
    }

    div.biglietti-selezionati {
        margin-top: 150px;
        border: 0px;
    }

    div.biglietti-selezionati > p{
        font-size: 2vW;
    }

    div.informazioni-biglietto{
        font-size: 1.5vw;
    }

    div.migliorposto td{
        width: 33%;
    }

    div.biglietti-selezionati > div > p{
        font-size: 1.7vW;
    }

    div.immagine-evento{
        width: 150px;
    }

    .informazioni-biglietto div {
        font-size: 22px;
    }

    .informazioni-biglietto div.informazioni-nome {
        font-size: 25px;
    }
}