button.log{
    padding: 12px;
    width: 90%;
    background-color:rgb(23, 78, 150);
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 10px 5%;
    color: #fff;
}

button.log:last-child{
    margin-bottom: 30px;
}

button.log:hover{
    background-color: #0E5D11;
    cursor: pointer;
}


div.formlog-login, div.formlog-register{
    margin: 5% 0px;
    padding: 0px 5px;
    display: block;
    box-sizing: border-box;
}

h2.cok{
    margin: 1%;
}

div.formlog{
    width: 100%;
    display: table;
}

div.formlog > div form > div > div{
    width: 70%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.city-error {
    padding: 0px 5%;
}

div.form-process > form > div > div{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.formlog > div form > div > div > input{
    width: 100%;
}

div.formlog > div form > div > div:first-child{
    width: 25%;
    text-align: left;
}

div.form-process > form > div > div:first-child{
    width: 100px;
    text-align: left;
}

input.process-in{
    width: 190px;
}

select.process-in{
    width: 195px;
}

textarea.process-in{
    width: 188px;
}

.log-btn, .reg-btn{
    margin: 15px 0px;
}

.log-btn input, .reg-btn input{
    margin-right: 15px;
    width: 90px;
    height: 30px;
}

p.err, p.no-err{
    margin: 2%;
}

div.process-error {
    margin: 2% 2% 0px;
}

h2.log{
    margin-left: 3%;
}

p.log{
    margin-left: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2.log{
    margin: 1%;
    margin-left: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form.log {
    padding: 20px 5% 0px;
}

div.form-process h2 {
    padding: 20px 5% 0px;
    font-size: 30px;
}

.process-btn {
    width: 120px;
    height: 30px;
    padding: 25px 0px 0px;
}

.process-btn input {
    width: 100%;
    height: 100%;
}

ul.client img {
    width: 100px;
}


ul.log>li>button{
    margin: 2%;
}

ul.log>li>img{
    margin-top: 1%;
}

ul.log>li{
    margin: 1%;
    border-style: solid;
    border-color: rgb(23, 78, 150);
    text-align: center;
    font-size: large;
}

ul.log{
    list-style-type: none;
}

.log > a{
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.badge-myEvents {
    padding: 4px 10px 4px 9px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}

.badgeT {
    padding: 5px 10px;
    margin: 2%;
    border-radius: 50%;
    background-color: #0E5D11;
    color: white;
}

.badge-ev {
    padding: 6px 13px 6px 13px;
    border-radius: 50%;
    background-color: red;
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.notification {
    margin-bottom: 10px;
}

@media screen and (min-width:768px){
    button.log{
        width: 47%;
        margin: 1% 1% 1% 1.5%;
        padding: 14px;
        font-size: 16px;
    }

    div.formlog-login, div.formlog-register{
        margin: 5% 0px;
        padding: 0px 5px;
        display: table-cell;
        box-sizing: border-box;
    }
    
    div.formlog{
        width: 100%;
        display: table;
    }
    
    div.formlog-register{
        width: 50%;
    }

    .log-btn{
        margin-bottom: 15px;
        margin-top: 45px;
    }

    div.form-process > form > div > div:first-child{
        width: 110px;
    }
    
    input.process-in{
        width: 300px;
    }
    
    select.process-in{
        width: 305px;
    }
    
    textarea.process-in{
        width: 298px;
    }

}