
  html {
    font-size: 16px;
  }
  
  .plane {
    margin: 0;
    text-align: center;
  }

  div.mapOne, div.mapTwo, div.mapThree{
    width: 100%;
  }
  
  .cockpit {
    height: 100px; 
    position: relative;
    overflow: hidden;
    text-align: center;
    border-bottom: 5px solid #d8d8d8;
  }

  .cockpit:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    border-radius: 50%;
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
    box-sizing: border-box;
  }

  .cockpit h1 {
    width: 60%;
    margin: 20px auto 35px auto;
  }
  
  .exit {
    position: relative;
    height: 50px;
    
  }

  .exit:before, .exit:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 2px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: #0E5D11;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
  }

  .exit:before{
    left: 0;
  }

  .exit:after {
    right: 0;
  }
  
  .fuselage {
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
  }

  .end{
    border-bottom: 5px solid #d8d8d8;
  }
  
  ol {
    list-style :none;
    padding: 0;
    margin: 0;
  }
  
  .seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;  
  }
  
  .seat {
    display: flex;
    padding: 5px;
    position: relative;  
    box-sizing: border-box;
    height: 42px;
  }

  div.mapOne .seat {
    flex: 0 0 14.28571428571429%;
  }

  div.mapTwo .seat, div.mapThree .seat {
    flex: 0 0 11.1%;
  }

  div.mapOne .seat:nth-child(3) {
    margin-right: 14.28571428571429%;
  }

  div.mapTwo .seat:nth-child(4) {
    margin-right: 11.1%;
  }

  div.mapThree .seat:nth-child(1), div.mapThree .seat:nth-child(7) {
    margin-right: 5.55%;
  }

  div.mapTwo li.row--3 {
    margin-bottom: 10%;
  }

  div.mapThree li.row--3 {
    margin-bottom: 5.55%;
  }

  div.mapThree li.row--1 ol li:first-child, div.mapThree li.row--1 ol li:nth-child(5){
    margin-right: 16.65%;
  }

  .seat input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }

  .seat input[type=checkbox]:checked + label {
    background-color: #0a9b29;      
    -webkit-animation-name: rubberBand;
        animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }

  .seat input[type=checkbox]:checked + label span{
    background-color: #64ff85;      
  }

  .seat input[type=checkbox]:disabled + label {
    background: #8a8a8a;
    text-indent: -9999px;
    overflow: hidden;
  }

  .seat input[type=checkbox]:disabled + label span {
    background: #e9e9e9;
  }

  .seat input[type=checkbox]:disabled + label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .seat input[type=checkbox]:disabled + label:hover {
    box-shadow: none;
    cursor: not-allowed;
  }

  .seat label {    
    display: block;
    position: relative;    
    width: 100%;    
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background: rgb(236, 11, 30);
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }

  .seat label:before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0%);
    /* background: rgba(255,255,255,.4); */
    border-radius: 3px;
  }

  .seat label span {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgb(247, 193, 201);
    border-radius: 3px;
  }



  .seat label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px #5C6AFF;
  }


  
  @-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
              transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
              transform: scale3d(1.05, .95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
              transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
              transform: scale3d(1.05, .95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
  }

  @media screen and (min-width:768px){

    div.mapOne{
      width: 300px;
    }
  
    div.mapTwo, div.mapThree{
      width: 390px;
    }

    .plane {
      margin: 1% 0px 1% 3%;
    }

  }

  