
.product-image {
    float: left;
    width: 20%;
  }
  
  .product-details {
    float: left;
    width: 37%;
  }
  
  .product-price {
    float: left;
    width: 12%;
  }
  
  .product-quantity {
    float: left;
    width: 10%;
  }
  
  .product-removal {
    float: left;
    width: 9%;
  }
  
  .product-line-price {
    float: left;
    width: 12%;
    text-align: right;
  }
  
  .group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
  .group:after,
  .shopping-cart:after,
  .column-labels:after,
  .product:after,
  .totals-item:after {
    content: '';
    display: table;
  }
  
  .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    clear: both;
  }
  
  .group, .shopping-cart, .column-labels, .product, .totals-item {
    zoom: 1;
  }
  
  /* Apply clearfix in a few places */
  /* Apply dollar signs */
  .product .product-price::after, .product .product-line-price::after, .totals-value::after {
    content: '\20AC';
  }
  
  .shopping-cart-container{
    padding: 30px 30px 0px 20px;
  }

  div.shipping, div.payment, div.totals {
    padding: 20px 30px 30px 20px;
  }

  .incorrect-parameters{
    display: none;
    padding: 10px 30px 10px 30px;
    font: bold 12px Verdana, Geneva, Tahoma, sans-serif;
    color: red;
  }

  .back-to-cart {
    display: none;
    padding: 20px 30px 0px 20px;
    font-size: 17px;
    color: rgb(0, 39, 226);
  }

  .back-to-cart span:hover{
    cursor: pointer;
    color: rgb(0, 28, 155);
  }

  .shopping-cart-container, div.shipping, div.payment, div.totals {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
  }

  div.totals-item:nth-child(2) > label {
    font-size: 14px;
  }

  div.shipping, div.payment {
    display: none;
    height: auto;
  }
  
  .shopping-cart-container label, .shipping label {
    color: black;
    opacity: 90%;
  }

  .totals label {
    color: black;
  }
  
  /* Column headers */
  .column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #cacaca;
  }
  .column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
    text-indent: -9999px;
  }
  
  /* Product entries */
  .product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
  }
  .product .product-image {
    text-align: center;
  }
  .product .product-image img {
    width: 100px;
  }
  .product-title, .product-category{
    margin: 5px 20px 5px 0;
    line-height: 1.3em;
  }
  .product-title, .product-category {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    color: rgb(4, 109, 27);
  }
  .product-title {
    width: 55%;
  }
  .product-location, .product-street, .product-date {
    margin: 2px 20px 2px 0;
    line-height: 1.3em;
    font-size: 16px;
  }
  .product-type{
    color: rgb(6, 70, 129);
  }
  .product-manager{
    font-size: 12px;
  }
  .product .product-quantity input {
    width: 40px;
  }
  .product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: rgb(233, 27, 27);
    color: #fff;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 12px;
    border-radius: 3px;
  }
  .product .remove-product:hover {
    background-color: rgb(185, 9, 9);
  }
  
  /* Totals section */

  .totals {
    height: 100px;
    display: block;
  }

  .totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
  }
  .totals .totals-item label {
    float: left;
    clear: both;
    text-align: right;
  }
  .totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
  }
  .totals .totals-item-total {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 20px;
  }

  .totals .totals-item-shipping {
    display: none;
  }

  .checkout-container {
    height: 50px;
    padding: 0px 30px 20px;
  }
  
  .checkout {
    float: right;
    border: 0;
    padding: 6px 25px;
    background-color: #007500;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
  }
  
  .checkout:hover {
    background-color: #054d05;
  }

  /* SHIPPING */

  div.shipping h1, div.payment h1 {
    padding: 10px;
    border-bottom: 1px solid #cacaca;
  }

  .container {
    display: block;
    position: relative;
    padding: 10px 0px 10px 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
     top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  div.shipping form, div.payment form {
    padding: 15px 5%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #cacaca;
  }

  div.shipping-mail form input{
    width: 200px;
  }

  div.shipping-home{
    display: none;
  }

  div.shipping-type div div, div.payment-type div div{
    margin-bottom: 5px;
    display: inline-block;
  }

  div.shipping-type div div:first-child, div.payment-type div div:first-child{
    width: 100px;
    text-align: right;
    font-size: 12px;
  }

  div.shipping-type div div:last-child, div.payment-type div div:last-child{
    width: 55%;
  }

  div.shipping-type div div input, div.payment-type div div input{
    width: 100%;
  }



  @media screen and (max-width: 650px) {
    .shopping-cart {
      margin: 0;
      padding-top: 20px;
      border-top: 1px solid #cacaca;
    }
  
    .column-labels {
      display: none;
    }
  
    .product-image {
      float: right;
      width: auto;
    }
    .product-image img {
      margin: 0 0 10px 10px;
    }
  
    .product-details {
      float: none;
      margin-bottom: 10px;
      width: auto;
    }
  
    .product-price {
      clear: both;
      width: 70px;
    }
  
    .product-quantity {
      width: 100px;
    }
    .product-quantity input {
      margin-left: 20px;
    }
  
    .product-quantity:before {
      content: 'x';
    }
  
    .product-removal {
      width: auto;
    }
  
    .product-line-price {
      float: right;
      width: 70px;
    }
  }

  @media screen and (max-width: 350px) {
    .product-removal {
      float: right;
    }
  
    .product-line-price {
      float: right;
      clear: left;
      width: auto;
      margin-top: 10px;
    }
  
    .product .product-line-price:before {
      content: 'Item Total: $';
    }
  
    .totals .totals-item label {
      width: 60%;
    }
    .totals .totals-item .totals-value {
      width: 40%;
    }
  }

  @media screen and (min-width:768px){

    .container {
      display: inline-block;
      width: 49%;
      box-sizing: border-box;
    }

    div.shipping-type div div:first-child, div.payment-type div div:first-child{
      width: 35%;
      font-size: 18px;
    }

    div.shipping-type div div:last-child, div.payment-type div div:last-child{
      width: 60%;
    }

    .totals .totals-item label {
      width: 79%;
    }

    .product-title {
      width: auto;
    }

    .product-title, .product-category {
      margin-right: 20px;
    }

    .incorrect-parameters{
      font-size: 22px;
    }
  }

  @media screen and (min-width:1100px){

    div.shipping-type div, div.payment-type div{
      display: inline-block;
      width: 49%;
    }

    div.shipping-type div div:first-child, div.payment-type div div:first-child{
      font-size: 16px;
    }
  }